.dash-bar {
  background-color: #31326f;
  color: #fff;
  padding: 15px;
  height: 450px;
}

.dash-bar h2 {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.dash-bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  padding: 15px;
}

.dash-bar ul li {
  margin-bottom: 20px;
}

.dash-bar ul li a {
  color: #fff;
  text-decoration: none;
}
.icon {margin-right: 14px;}