table{
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}
td, th {
  border: none;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.icon {
  cursor: pointer;
}